<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org"
>

<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            权限管理
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <!--<li>-->
            <!--<a href="#">-->
            <!--<i class="fa fa-dashboard"></i>-->
            <!--Level-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="active">Here</li>-->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <div class="box-header" style="padding-right: 30px;">
                <h3 class="box-title">权限列表</h3>
                <div class="pull-right">
                    <a th:href="@{permissions/create}" class="btn btn-sm btn-success">
                        <i class="fa fa-save"></i>&nbsp;&nbsp;新增
                    </a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                   aria-describedby="example2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">
                                        编号
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Browser: activate to sort column ascending">
                                        名称
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">
                                        标识
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">
                                        请求方法
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">
                                        请求路径
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        创建时间
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        修改时间
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">
                                        操作
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr role="row" class="odd" th:each="item,index:${page}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.slug}"></td>
                                    <td th:text="${item.httpMethod}"></td>
                                    <td>
                                        <div th:each="v:${item.httpPath.split('\n')}" th:text="${v}"></div>
                                    </td>
                                    <td th:text="${item.createdAt}"></td>
                                    <td th:text="${item.updatedAt}"></td>
                                    <td>
                                        <a href="#">修改</a>
                                        <a href="#">删除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" th:if="${page.getNumberOfElements()} > 0">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                显示第
                                <span th:text="${page.getNumber()} * ${page.getSize()} + 1"></span>

                                <span th:if="${page.getNumberOfElements()} > 1">
                                    至<span th:text="${page.getNumber()} * ${page.getSize()} + ${page.getNumberOfElements()}"></span>
                                </span>
                                行，总共：
                                <span th:text="${page.getTotalElements()}"></span>
                                行数据
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers pull-right" id="example2_paginate">
                                <ul id="page-ul" class="pagination">
                                    <li th:class="(${page.hasPrevious()}) ? 'paginate_button previous' : 'paginate_button previous disabled'"
                                        id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0"
                                            th:attr="page-num=(${page.getNumber() -1 })"
                                        >上一页</a>
                                    </li>
                                    <!--active-->

                                    <li th:class="(${i} == ${page.getNumber()}) ? 'paginate_button active' : 'paginate_button'"
                                        th:each="i:${#numbers.sequence(0, page.getTotalPages() - 1)}"
                                    >
                                        <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" th:text="${i + 1}"
                                            th:attr="page-num=${i}"
                                        ></a>
                                    </li>
                                    <li th:class="${page.hasNext()} ? 'paginate_button next' : 'paginate_button next disabled'" id="example2_next">
                                        <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0"
                                        th:attr="page-num=((${page.hasNext()}) ? (${page.getNumber() + 1}) : -1)"
                                        >下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <script th:inline="javascript">
                            let baseUri = [[${#httpServletRequest.getRequestURI()}]];
                            let baseQuery = [[${#httpServletRequest.getQueryString()}]] ? [[${#httpServletRequest.getQueryString()}]] : false;
                            let params = {};
                            if (baseQuery !== false) {
                                for( let v of baseQuery.trim().split('&')){
                                    let item = v.split('=');
                                    params[item[0]] = item[1];
                                }
                            }
                            $('#page-ul').children('li').each(function (index, item) {
                                let a = $(item).find('a');
                                let queryStr = 'javascript:void(0);';
                                let page = a.attr('page-num');
                                if (page < 0) {
                                    a.attr('href', queryStr);
                                } else {
                                    params['page'] = a.attr('page-num');
                                    console.log(params);
                                    queryStr = '?';
                                    for (let k in params) {
                                        if (params.hasOwnProperty(k)) {
                                            queryStr += k + '=' + params[k] + '&';
                                        }

                                    }
                                    queryStr = queryStr.substr(0, queryStr.length - 1);
                                    a.attr('href', baseUri+queryStr);
                                }


                            })

                        </script>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
    <!-- /.content -->
    <script>

    </script>
</div>
</body>


